<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienes Raices</title>
    <link rel="stylesheet" href="../static/css/base/app.css">
</head>
<body>
    
    <header class="header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="../static/img/logo.svg" alt="Logotipo de Bienes Raices">
                </a>

                <div class="mobile-menu">
                    <img src="../static/img/barras.svg" alt="icono menu responsive">
                </div>

                <div class="derecha">
                    <img class="dark-mode-boton" src="../static/img/dark-mode.svg">
                    <nav class="navegacion">
                        <a href="nosotros.html">Nosotros</a>
                        <a href="anuncios.html">Anuncios</a>
                        <a href="blog.html">Blog</a>
                        <a href="contacto.html">Contacto</a>
                    </nav>
                </div>
                
            </div> <!--.barra-->
        </div>
    </header>

    <main class="contenedor seccion contenido-centrado">
        <h1>Guía para la decoración de tu hogar</h1>

        <div>
            <img src="../static/img/destacada2.jpg" alt="Blog">
            </div>
        <!-- <picture>
            <source srcset="build/img/destacada2.webp" type="image/webp">
            <source srcset="build/img/destacada2.jpg" type="image/jpeg">
            <img loading="lazy" src="build/img/destacada2.jpg" alt="imagen de la propiedad">
        </picture> -->

        <p class="informacion-meta">Escrito el: <span>15/03/2022</span> por: <span>Admin</span> </p>


        <div class="resumen-propiedad">
            <p>Nuestros gustos personales deben quedar reflejados en la decoración. Los colores, los formatos y los diseños deben ser de nuestro agrado. De esta manera, vamos a estar más orgullosos de la casa y podremos presumir de ella. Es importante conocer algunos trucos con los que mejorar la imagen de los interiores. Por eso, te presentamos una serie de consejos para decorar tu casa con muy buen gusto.

Existen múltiples maneras de trabajar los interiores, pero debemos acertar en la elección de los recursos. No es cuestión de escogerlos aleatoriamente; por eso, te recomendamos que analices la situación actual de cada habitación, apliques colores según tu personalidad y escojas los elementos decorativos apropiados para que el conjunto luzca más bonito y elegante.</p>

            <p>OBSERVA EL ESPACIO
Un criterio básico y fundamental es la elección de los colores. Para ello, es preciso que hagamos una distribución coherente entre las distintas estancias, por lo que te recomendamos dinamizar el espacio con varias tonalidades o alegrar el ambiente con muebles y adornos de colores alegres. Eso sí, hay que prestar mucha atención a la manera en que los combinamos.

Por otro lado, es preciso que te fijes en todos los espacios de la casa, desde la despensa hasta los exteriores. De todo se puede aprender y, por supuesto, es necesario hacer autocrítica. Si consideras que algo debe cambiarse pues ¡adelante con ello! Muchas veces, en las cosas más sencillas está la esencia de la decoración; es decir, no hay que complicarse la vida, todo es cuestión de escoger lo que necesitamos y evitar errores en la decoración de tu casa.</p>
        </div>
    </main>

    <footer class="footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>

        <p class="copyright">Todos los derechos Reservados 2022 &copy;</p>
    </footer>

    <script src="../static/js/bundle.min.js"></script>
</body>
</html>