<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienes Raices</title>
        <link rel="stylesheet" href="../static/css/base/app.css">
        <link rel="stylesheet" href="../static/css/layout/contactar.css">
    </head>
    <body>

        <header class="header">
            <div class="contenedor contenido-header">
                <div class="barra">
                    <a href="index.html">
                        <img src="../static/img/logo.svg" alt="Logotipo de Bienes Raices">
                    </a>

                    <div class="mobile-menu">
                        <img src="../static/img/barras.svg" alt="icono menu responsive">
                    </div>

                    <div class="derecha">
                        <img class="dark-mode-boton" src="../static/img/dark-mode.svg">
                        <nav class="navegacion">
                            <a href="nosotros.html">Nosotros</a>
                            <a href="anuncios.html">Anuncios</a>
                            <a href="blog.html">Blog</a>
                            <a href="contacto.html">Contacto</a>
                        </nav>
                    </div>
                </div> <!--.barra-->

        </header>
        <h1>Venta de Casas y Departamentos  Exclusivos de Lujo</h1>
        <main class="contenedor seccion">
            <h1>Más Sobre Nosotros</h1>

            <div class="iconos-nosotros">
                <div class="icono">
                    <img src="../static/img/icono1.svg" alt="Icono seguridad" loading="lazy">
                    <h3>Seguridad</h3>
                    <p>Usar cerraduras de alta seguridad
Una de las formas más fáciles de mejorar la seguridad de un departamento es usar los mejores dispositivos para puertas disponibles en el mercado, ya sean cerraduras inteligentes o mecánicas.

Es probable que creas que ya tienes una cerradura confiable, pero solo porque sea de una marca que conoces, no significa que lo que está en tu puerta sea la mejor solución a tus necesidades.</p>
                </div>
                <div class="icono">
                    <img src="../static/img/icono2.svg" alt="Icono Precio" loading="lazy">
                    <h3>Precio</h3>
                    <p>Inicia el 2022 y son muchas las personas que dentro de sus proyectos de año nuevo tienen construir casa. Sin embargo, se cuestionan si es un buen momento o si es mejor esperar a que termine la pandemia. Asimismo, qué aspectos deben tomar en cuenta a la hora de iniciar su proyecto de vivienda. Es por esta razón que Urbanizadora La Laguna, desarrolladora con más de 50 años de experiencia en el mercado inmobiliario, ofrece una serie de recomendaciones para las personas que están pensando en construir su casa propia.</p>
                </div>
                <div class="icono">
                    <img src="../static/img/icono3.svg" alt="Icono Tiempo" loading="lazy">
                    <h3>A Tiempo</h3>
                    <p>Siempre se consiguen las mejores opciones a los mejores precios</p>
                </div>
            </div>
        </main>

        <section class="seccion contenedor">
            <h2>Casas y Depas en Venta</h2>

            <div class="contenedor-anuncios">
                <div class="anuncio">
                    <div>
                        <img src="../static/img/anuncio1.jpg" alt="Blog">
                    </div>
                    <!-- <picture>
                        <source srcset="build/img/anuncio1.webp" type="image/webp">
                        <source srcset="build/img/anuncio1.jpg" type="image/jpeg">
                        <img loading="lazy" src="build/img/anuncio1.jpg" alt="anuncio">
                    </picture> -->

                    <div class="contenido-anuncio">
                        <h3>Casa de Lujo en el Lago</h3>
                        <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                        <p class="precio">$3,000,000</p>

                        <ul class="iconos-caracteristicas">
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_wc.svg" alt="icono wc">
                                <p>3</p>
                            </li>
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_estacionamiento.svg" alt="icono estacionamiento">
                                <p>3</p>
                            </li>
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_dormitorio.svg" alt="icono habitaciones">
                                <p>4</p>
                            </li>
                        </ul>

                        <a href="anuncio.html" class="boton-amarillo-block">
                            Ver Propiedad
                        </a>
                    </div><!--.contenido-anuncio-->
                </div><!--anuncio-->

                <div class="anuncio">
                    <div>
                        <img src="../static/img/anuncio2.jpg" alt="Blog">
                    </div>
                    <!-- <picture>
                        <source srcset="build/img/anuncio2.webp" type="image/webp">
                        <source srcset="build/img/anuncio2.jpg" type="image/jpeg">
                        <img loading="lazy" src="build/img/anuncio2.jpg" alt="anuncio">
                    </picture> -->

                    <div class="contenido-anuncio">
                        <h3>Casa terminados de lujo</h3>
                        <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                        <p class="precio">$4,000,000</p>

                        <ul class="iconos-caracteristicas">
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_wc.svg" alt="icono wc">
                                <p>3</p>
                            </li>
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_estacionamiento.svg" alt="icono estacionamiento">
                                <p>3</p>
                            </li>
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_dormitorio.svg" alt="icono habitaciones">
                                <p>4</p>
                            </li>
                        </ul>

                        <a href="anuncio.html" class="boton-amarillo-block">
                            Ver Propiedad
                        </a>
                    </div><!--.contenido-anuncio-->
                </div><!--anuncio-->

                
                <div class="anuncio">
                    <div>
                    <img src="../static/img/anuncio3.jpg" alt="Blog">
                </div>
                    <!-- <picture>
                        <source srcset="build/img/anuncio3.webp" type="image/webp">
                        <source srcset="build/img/anuncio3.jpg" type="image/jpeg">
                        <img loading="lazy" src="build/img/anuncio3.jpg" alt="anuncio">
                    </picture> -->

                    <div class="contenido-anuncio">
                        <h3>Casa con alberca</h3>
                        <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                        <p class="precio">$2,500,000</p>

                        <ul class="iconos-caracteristicas">
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_wc.svg" alt="icono wc">
                                <p>3</p>
                            </li>
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_estacionamiento.svg" alt="icono estacionamiento">
                                <p>3</p>
                            </li>
                            <li>
                                <img class="icono" loading="lazy" src="../static/img/icono_dormitorio.svg" alt="icono habitaciones">
                                <p>4</p>
                            </li>
                        </ul>

                        <a href="anuncio.html" class="boton-amarillo-block">
                            Ver Propiedad
                        </a>
                    </div><!--.contenido-anuncio-->
                </div><!--anuncio-->

            </div> <!--.contenedor-anuncios-->

            <div class="alinear-derecha">
                <a href="anuncios.html" class="boton-verde">Ver Todas</a>
            </div>
        </section>

        <section class="imagen-contacto">
            <div>
                <img src="../static/img/encuentra.jpg" alt="Blog">
             
            </div>
            <div class="texto-entrada">
                <h2>Encuentra la casa de tus sueños</h2>
            <p>Llena el formulario de contacto y un asesor se pondrá en contacto contigo a la brevedad</p>     
            <a href="contacto.html" class="boton-amarillo">Contactános</a>
            </div>
        </section>

        <div class="contenedor seccion seccion-inferior">
            <section class="blog">
                <h3>Nuestro Blog</h3>

                <article class="entrada-blog">
                    <div class="imagen">
                        <div>
                            <img src="../static/img/blog1.jpg" alt="Blog">
                        </div>
                        <!-- <picture>
                             <source srcset="build/img/blog1.webp" type="image/webp">
                             <source srcset="build/img/blog1.jpg" type="image/jpeg">
                             <img loading="lazy" src="build/img/blog1.jpg" alt="Texto Entrada Blog">
                         </picture> -->
                    </div>

                    <div class="texto-entrada">
                        <a href="entrada.html">
                            <h4>Terraza en el techo de tu casa</h4>
                            <p class="informacion-meta">Escrito el: <span>20/10/2022</span> por: <span>Admin</span> </p>

                            <p>
                                Consejos para construir una terraza en el techo de tu casa con los mejores materiales y ahorrando dinero
                            </p>
                        </a>
                    </div>
                </article>

                <article class="entrada-blog">
                    <div class="imagen">
                        <div>
                            <img src="../static/img/blog2.jpg" alt="Blog">
                        </div>
                        <!-- <picture>
                             <source srcset="build/img/blog2.webp" type="image/webp">
                             <source srcset="build/img/blog2.jpg" type="image/jpeg">
                             <img loading="lazy" src="build/img/blog2.jpg" alt="Texto Entrada Blog">
                         </picture> -->
                    </div>

                    <div class="texto-entrada">
                        <a href="entrada.html">
                            <h4>Guía para la decoración de tu hogar</h4>
                            <p class="informacion-meta">Escrito el: <span>20/10/2022</span> por: <span>Admin</span> </p>

                            <p>
                                Maximiza el espacio en tu hogar con esta guia, aprende a combinar muebles y colores para darle vida a tu espacio
                            </p>
                        </a>
                    </div>
                </article>
            </section>

            <section class="testimoniales">
                <h3>Testimoniales</h3>

                <div class="testimonial">
                    <blockquote>
                        El personal se comportó de una excelente forma, muy buena atención y la casa que me ofrecieron cumple con todas mis expectativas.
                    </blockquote>
                    <p>- Luis Marín Ortega</p>
                </div>
            </section>
        </div>

        <footer class="footer seccion">
            <div class="contenedor contenedor-footer">
                <nav class="navegacion">
                    <a href="nosotros.html">Nosotros</a>
                    <a href="anuncios.html">Anuncios</a>
                    <a href="blog.html">Blog</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>

            <p class="copyright">Todos los derechos Reservados 2022 &copy;</p>
        </footer>

        <script src="../static/js/bundle.min.js"></script>
    </body>
</html>