<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienes Raices</title>
    <link rel="stylesheet" href="../static/css/base/app.css">
</head>
<body>
    
    <header class="header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="../static/img/logo.svg" alt="Logotipo de Bienes Raices">
                </a>

                <div class="mobile-menu">
                    <img src="../static/img/barras.svg" alt="icono menu responsive">
                </div>

                <div class="derecha">
                    <img class="dark-mode-boton" src="../static/img/dark-mode.svg">
                    <nav class="navegacion">
                        <a href="nosotros.html">Nosotros</a>
                        <a href="anuncios.html">Anuncios</a>
                        <a href="blog.html">Blog</a>
                        <a href="contacto.html">Contacto</a>
                    </nav>
                </div>
                
            </div> <!--.barra-->
        </div>
    </header>

    <main class="contenedor seccion">
        <h1>Conoce sobre Nosotros</h1>

        <div class="contenido-nosotros">
            <div class="imagen">
                <div>
                    <img src="../static/img/nosotros.jpg" alt="Blog">
                    </div>
                <!-- <picture>
                    <source srcset="build/img/nosotros.webp" type="image/webp">
                    <source srcset="build/img/nosotros.jpg" type="image/jpeg">
                    <img loading="lazy" src="build/img/nosotros.jpg" alt="Sobre Nosotros">
                </picture> -->
            </div>

            <div class="texto-nosotros">
                <blockquote>
                    25 Años de experiencia
                </blockquote>

                <p>Los terrenos poseen tres características físicas que la diferencian de otros activos de la economía:

Inmovilidad. Si bien algunas partes del terreno son removibles y la topografía se puede alterar, la ubicación geográfica de cualquier parcela de terreno nunca se puede cambiar.
Indestructibilidad. Los terrenos son duraderos e indestructibles (permanente).
Unicidad. No hay dos parcelas de terreno que sean exactamente iguales. Aunque pueden compartir similitudes, cada parcela difiere geográficamente.</p>

                 </div>
        </div>
    </main>

    <section class="contenedor seccion">
        <h1>Más Sobre Nosotros</h1>

        <div class="iconos-nosotros">
            <div class="icono">
                <img src="../static/img/icono1.svg" alt="Icono seguridad" loading="lazy">
                <h3>Seguridad</h3>
               <p>Usar cerraduras de alta seguridad
Una de las formas más fáciles de mejorar la seguridad de un departamento es usar los mejores dispositivos para puertas disponibles en el mercado, ya sean cerraduras inteligentes o mecánicas.

Es probable que creas que ya tienes una cerradura confiable, pero solo porque sea de una marca que conoces, no significa que lo que está en tu puerta sea la mejor solución a tus necesidades.</p>
                </div>
            <div class="icono">
                <img src="../static/img/icono2.svg" alt="Icono Precio" loading="lazy">
                <h3>Precio</h3>
                <p>Inicia el 2022 y son muchas las personas que dentro de sus proyectos de año nuevo tienen construir casa. Sin embargo, se cuestionan si es un buen momento o si es mejor esperar a que termine la pandemia. Asimismo, qué aspectos deben tomar en cuenta a la hora de iniciar su proyecto de vivienda. Es por esta razón que Urbanizadora La Laguna, desarrolladora con más de 50 años de experiencia en el mercado inmobiliario, ofrece una serie de recomendaciones para las personas que están pensando en construir su casa propia.</p>
                </div>
            <div class="icono">
                <img src="../static/img/icono3.svg" alt="Icono Tiempo" loading="lazy">
                <h3>A Tiempo</h3>
                <p>Siempre se consiguen las mejores opciones a los mejores precios</p></div>
        </div>
    </section>

    <footer class="footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="anuncios.html">Anuncios</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>

        <p class="copyright">Todos los derechos Reservados 2022 &copy;</p>
    </footer>

    <script src="../static/js/bundle.min.js"></script>
</body>
</html>